<div
  style='
          max-width: 700px;
          margin: auto;
          border: 10px solid #ddd;
          padding: 50px 20px;
          font-size: 110%;
        '
>
  <h2 style='text-align: center; text-transform: uppercase; color: teal'>
Task Management System.
  </h2>
  <div style='font-size: 1.3rem'>
    <p>{{task_reminder.head}}</p>
    <p>Refer below mentioned task details</p>
    <div
      style='
              max-width: 500;
              margin: 5px;
              border: 5px solid white;
              padding: 14px 25px;
              font-size: large;
            '
    >
      <p>{{task_reminder.note}}</p>
      <p>Task name : {{task_reminder.task_name}}</p>
      <p>End date : {{task_reminder.end_date}}
      </p>
      <p>Assigned by : {{task_reminder.assigned_by}}
      </p>

    </div>
    <p style='color: #455056; font-size: 15px; line-height: 24px; margin: 0'>
      If you have any questions, just reply to this email
      <span style='color: #4a35ea'> admin@gmail.com </span>
      we're always happy to help out.
    </p>
  </div>
</div>